.main-container{
    display: flex;
    gap: 2em;
    justify-content: center
}
.img-container{
    
    width: 43%;
    display: flex;
    justify-content: center;
}
img{
    width: 63%;
}
.body-container{
    width: 28%;
   
    display: flex;
    flex-direction: column;
    
    margin-left: 10em;       
}
.text{
    font-size: 1.4em;
}
.title{
    font-size: 2.4em;
    border: solid;
   
}
button{
    border-radius: 20%;
    padding: 0.8em;
    font-weight: 900;
}